label{
    font-family : Calibri;
}
.addRecipeForm{
    margin-top : 20px;
    margin-left :300px;
    width : 900px;
}

hr{
    margin-top : 15px;
    width : 100%;
    color : #444444; 
}
.material-icons{
    font-size : 14px;
    margin-right : 4px;
}
#name{
    width : 500px; 
    height : 20px;
    margin : 10px 0px 10px 0px;
    font-family : Times;
    background-color : #D6D6D3; 
    border : none;
}
#steps, #ingredients{
    width: 720px;
    height: 250px;
    margin : 10px 0px 10px 0px;
    font-family : Times;
    background-color : #D6D6D3;  
    border : none;
    resize : none;
}
#uploadBtn{
    float : right;
    padding : 5px 20px 5px 20px;
    font-weight : bold;
    font-size : 14px;
    background-color : #29B46E;
    margin-bottom : 10px;
}
