#recipes{
    margin-top : 40px;
    border-collapse : collapse;
    margin-left : 270px;
    padding : 8px;
    table-layout:fixed;
}

#recipes tr,td,th{
    padding : 8px;
}

#recipes tr{
    font-family : Garamond;
}

th{
    background-color : #5F5F5F;
    color : white;
}

#recipes td{
    font-size : 14px;
}

#recipes tr:nth-child(even){
    background-color: #FEFFE2;
}

#recipes tr:nth-child(odd){
    background-color: #FEE8B2;
}

.fa-pencil-alt{
    cursor : pointer;
    color : #737373;
    float : left;
}

.fa-trash-alt{
    cursor : pointer;
    color : #737373;
    float : right;
}

.fa-pencil-alt:hover{
    color : #D3CECD;
}

.fa-trash-alt:hover{
    color : #D3CECD;
}

#recipes tr:hover{
   background-color : #FFE0D9;  
   font-weight : bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0; /* Full height */
    height : 100%;
    width : 100%;
    overflow: auto; /* Enable scroll if needed */
    /* Black w/ opacity */
    background-color : rgb(224, 224, 224, 0.7);
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    width: 500px; /* Full width */
    height: auto;
    margin-top : 30px;
    margin-left : 450px;
    border-radius : 10px;
    bottom: 0;
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.modal-header {
    text-align : center;
    padding: 2px 5px;
    background-color: #FEFFD1;
    color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body {
    text-align : center;
    padding: 2px 16px;
    font-weight : bold;
}

.fa-warning{
    color : red;
    padding-right : 10px;
}

.modal-footer {
    border : none;
    padding-top : 15px; 
    padding-bottom : 30px;
    color: white;
}

.modal-footer button{
    margin : 0px 10px 10px 10px;
    padding : 5px 15px 5px 15px;
    border-radius : 5px;
    background-color : lightgrey;
    font-weight : bold;
    border : none;
    float : right;
}

 #trashBtn{
    background-color : transparent;
    border : none;
    margin-left : 10px;
}

.fa-exclamation-circle{
    color : #FC5C5C;
    font-size:80px;
}

#cancelDeleteBtn{
    cursor : pointer;
    color : white;
    display: flex;
    background-color :#C1C1C1;
    margin-right : 40px;
}

#confirmDeleteBtn{
    cursor : pointer;
    color : white;
    display: flex;
    background-color :#FF3232;
    margin-right : 110px;
}

@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}