        #add{
            margin-left : 270px;
            margin-top : 20px;
            cursor : pointer;
            padding : 5px 10px 5px 10px;
            border-radius : 5px;
            background-color : #6ACC75;
            font-family : Americana;
            font-weight : bold;
            font-size : 16px;
        }

        form.searchRecipeClass input[type=text] {
            margin-left : 980px;
            padding: 5px;
            font-size: 17px;
            border: none;
            background:#DAFFDC;
        }
        
        form.searchRecipeClass button {
            float : right;
            margin-right : 20px;
            padding : 5px;
            background: #54C871;
            color: white;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
        
        form.searchRecipeClass button:hover {
            background: #0b7dda;
        }
        
        form.searchRecipeClass::after{
            content: "";
            clear: both;
            display: table;
        }
