label{
    font-family :  Georgia;
    font-weight : bold; 
    font-size: 12px;
    margin-right : 12px;
}
.forgetForm{
    border : 1px solid white;
    background-color : white;
    margin-left:auto; 
    margin-right:auto;
    display:block;
    border-radius:20px;
    margin-top:60px;
    width:40%;
    height:auto;
}
.email{
    display : block; 
    text-align : center;
    margin-top : 20px;
    padding : 0px 5px 0px 0px;
}
#subTitle{
    padding : 3px 3px 3px 10px;
    font-family : Calibri;
    font-weight : bold;
    color : #ff828a;
}
#send{
    border : none;
    display : block; 
    margin-left: 190px;
    margin-top : 10px;
    margin-bottom : 10px; 
    background-color : #1b62d3;
    padding : 7px 7px 7px 7px;
    font-family: Times New Romans;
    font-weight : bold; 
    color : white;
    cursor :  pointer;
}