body{
    min-width: 300px;
    background-color:#336666;
}
hr{
    margin-top: -7px;
    width: 100%;
}
#title{
    text-align: center;
    list-style-type: none;
    font-size:30px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    display:block;
    height:100%;
    width: 100%;
    color:white;
    float:left;
}
