body{
    background-color : #E6EADF;
}
.sideBar{
    cursor: pointer;
    height: 100%;
    width : 230px;
    position : fixed;
    top: 0;
    left : 20px;
    z-index : 1;
    background-color : #273D4F;
    overflow-x : hidden;
    padding-top: 5px;
    box-shadow : -3px -3px 2px grey;
    text-align: center;
    display : block;
}
img{
    display :block;
    margin-left : auto;
    margin-right : auto;
    width : 160px;
    height :  160px;
    box-align:center;   
}
.sideBar a{
    text-decoration: none;
    color : white;
}
li{
    margin : 30px 0px 30px 0px;
    list-style-type : none;
    font-family : Acme;
    font-size : 16px;
}
.dropbtn{
    border : none;
    background-color: Transparent;
    font-family : Acme;
    font-size : 16px; 
    color : white;
}
.dropdown-content, .dropdown-content1 {
    display: none;
    z-index: 1;
    text-align : left; 
    
}
#myDropdown a{
    color: #7FC6FF;
    float: none;
    text-decoration: none;
    display: block;
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    margin-left : 60px;
}
#careTipsDrop a{
    margin-left : 80px;
    color: #F95F92;
    padding : 0px 0px 0px 0px;
}
.show {
    display: block;
}
.fa-angle-down{
    margin-left : 8px;
    font-size : 16px;
}
.dropbtn1{
    border : none;
    background-color: transparent;
    font-family : Acme;
    font-size : 16px;
    color: #7FC6FF;
    margin-left : 55px;
}
#careTipsDrop, #myDropdown{
    cursor: pointer;
}
.vl {
    border-left: 1px solid #B1B1B1;
    height: 100%;
    left: 50%;
    margin-left: 550px;
    top: 0;
    position : fixed;
    overflow-x : hidden;
}
