.loginBtn button{
    padding : 8px 115px 8px 115px;
    background-color : #8FCCAA;
    font-weight : bold;
    border :  none;
    border-radius :  4px;
    margin-bottom : 5px;
}
body{
    background-color : #E6EADF;
}
#logo{
    height : 200px;
    width : 200px;
}
h4{
    margin-top: -25px;
    color : #565656;
    font-size :  18px;
}
h3{
    margin-top : 20px;
}
#email, #password{
    margin-top : -60px;
    margin-bottom : 20px;
    height : 25px;
    width : 280px;
}
.help-block{
    size : 16px;
    color: red;
    margin-top : -20px;
}
.alert-block{
    color: red; 
    margin-bottom : 20px;
}

#forget{
    text-decoration : none;  
    padding-top : 5px;
}